h1{
  text-align: center;
}
.add-task {
  padding: .5rem .75rem;
  border-radius: 50%;
  background-color: rgba(232,232,232, 0.5);
  margin: 2rem;
}
.add-task:hover{
  background-color: rgba(225,225,225, 1);
}
a{
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
}
.month {
  margin: 0 auto;
  width: 95%;
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
}

.calendar-date {
  width: calc(90% / 7);
  height: 100px;
  background-color:#fff;
  border: 1px solid rgb(232,232,232);
  padding: 1rem;
  margin: 5px;
}

.not-current {
  visibility: hidden;
}
.hidden {
  display: none;
}
.completed {
  color: green;
}
.not-completed {
  color: red;
}
